


h1{
  font-size: large;
  font-family: cursive;
  text-decoration: mediumspringgreen underline;
  text-transform: uppercase;
}

input{
    display: block;
    width: 25vh;
    height: 4vh;
    padding: 10px;
    border-bottom: solid .1vh rgb(21, 23, 192);
  }
  #input-box{
      background-color: ;
  }
  input:hover{
    border-bottom: solid .10vh rgb(177, 53, 189);
  }
  body{
    background-color: rgb(243, 73, 186);
  }
  #image-border{
    border: 30px rgb(224, 121, 3) solid;
    display: flex;
    position: relative;
   left: 290px;
  }
  .header{
    font-size: 50px;
    text-align: center;
  }
  /* .img{
    margin: auto;
  } */
 #move{
 }
  body{
    margin: 25px 50px 75px 50px;
  }

  #text-field{
   width: 20%;
   background-color: mintcream;
   border: green solid 20px;
   margin: auto;
   

  }
  #submit-button{
    background-color: purple;
    
  }
