

h1{
  font-size: large;
  font-family: cursive;
  text-decoration: mediumspringgreen underline;
  text-transform: uppercase;
  text-shadow: 4px 1px 0px #ff0000;
}

input{
    display: block;
    width: 25vh;
    height: 4vh;
    padding: 10px;
    border-bottom: solid .1vh rgb(21, 23, 192);
  }
  #input-box{
      background-color: ;
  }
  input:hover{
    border-bottom: solid .10vh rgb(177, 53, 189);
  }
  body{
    background: url(./Fresh\ Prince.jpg);
    margin: 25px 50px 75px 50px;
  }
  #image-border{
    border: 30px rgb(224, 121, 3) solid;
    display: flex;
    position: relative;
   left: 290px;
  }
  .header{
    font-size: 50px;
    text-align: center;
  }
  /* .img{
    margin: auto;
  } */
 

  #text-field{
   width: 40%;
   height: 20px;
   border: green solid auto;
  padding: 10px;
  }
  .row {
    display: table;
   box-sizing: border-box;
   float: center;
  }
  #submit-button{
    background-color: rgb(131, 87, 131);
    border-radius: 10%;
    width: fit-content;
    
    
  }
  #answer {
    font-size: 25px;
    font-family: fantasy;
    color: rgb(217, 202, 236);
    text-shadow: indigo 2px 1px 0px;
  
    background: black;
    width: auto;

  
  }


